:root {
  --light-blue: #dcdfef;
	--blue: #3a457f;
  --dark-blue: #343e72;
  --darkest-blue: #1a1f39;
  --red: #5c2a32;
	--white: #fff;
	--black: #000;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'DM Sans', sans-serif;
  box-sizing: border-box;
  background-color: var(--darkest-blue);
}

main {
  display: grid;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.125rem;
  color: var(--white);
}

h2 {
  font-size: 2.5rem;
}

p {
  color: var(--white);
  line-height: 1.4;
  margin: 0.4em 0 1.5em 0;
}

button {
  margin-top: 1.5em;
  padding: 1em;
  
  color: var(--white);
  background-color: var(--darkest-blue);
  border: none;
  border-radius: 2em;
  width: 8em;
  cursor: pointer;
}

button:hover {
  background-color: var(--dark-blue);
}

.crud-form {
  grid-template-columns: 1fr;
}

.crud-form>article {
  margin-right: 2em;
}

img {
  width: 100%;
  height: 53em;
  display: block;
  object-fit: cover;
}

form {
  background-color: var(--light-blue);
  padding: 3em;
}

input,
select,
fieldset textarea {
  width: auto;
}

label {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
}

input {
  padding: 0.6em;
}

select {
  padding: 0.6em;
}

option {
  width: 20rem;
}

.member {
  padding: 2rem;
  background-color: var(--light-blue);
}

@media (min-width: 70em) {
  main {
    padding: 5em;
  }

  .crud-form {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  
  form {
    background-color: var(--light-blue);
    display: flex;
    flex-direction: column;
  }

  .members {
    margin-top: 3em;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

@media (min-width: 100em) {
	main {
    padding: 5em 10em;
  }
}